.row-fluid
  .span12
    .well.well-large
      %h1
        Borrow a book
      
  %h2 
    = @product.title
    %small
      %br
      = @product.author
  %br
  %h5    
    Description:
  = @product.description

  %br
=form_for [@product, @borrow_history] , html: { class: "form-horizontal" } do |f|
  %h5
    Borrowed by:
  = f.text_field :borrowed_by , name: "borrowed_by"
  %br
  %br
  =f.submit
= link_to "Back to List of Unborrowed Books" , unborrowed_products_path
