%h1
  Book History
  %table
    %tr
      %th Title
      %th Description
      %th Author
      %th Publisher
      %th Price
      %th Purchased_on
      %th Purchased_at

      %tr
        %td
          = product.title
        %td
          = product.description
        %td
          = product.author
        %td
          = product.publisher
        %td
          = product.price
        %td
          = product.purchased_on
        %td
          = product.purhased_at
          %td 
            = link_to "borrowedform" , "#"
