%h1

  List of Products
%br
= link_to "List of Products" , products_path
|
= link_to "Add New Product" ,new_product_path  
|
= link_to "Unborrowed Books" , unborrowed_products_path , method: "get"
|
= link_to "Borrowed Books" , borrowed_products_path , method: "get"
|
%br
%br
%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th Author
    %th Publisher
    %th Price
    - if params[:action] == "index"
      %th Purchased On
      %th Purchased At
      %th Borrowed
    - elsif params[:action] == "borrowed"
      %th Borrowed By
    %th Action
  - @products.each do |product|
    %tr 
      %td 
        = product.title
      %td
        = product.description
      %td
        = product.author
      %td
        = product.publisher
      %td
        = product.price
      - if params[:action] == "index"
        %td
          = product.purchased_on
        %td
          = product.purchased_at
        %td
          = product.borrowed
      - elsif params[:action] == "borrowed"
        %td
          = product.borrow_histories.last.borrowed_by
      %td
        - if params[:action] == "unborrowed"
          = link_to "Borrow", new_product_borrow_history_path(product.id) , class: "btn"
        - elsif params[:action] == "borrowed"
          = link_to "Return", product_borrow_history_path(product.id, product.borrow_histories.last) , method: :put , class: "btn"
        - else
          = link_to 'Show', product
          = link_to 'Delete', product, method: :delete, data: {confirm: 'Are you sure?' }
          = link_to "Borrow History" , product_borrow_histories_path(product.id)

