%h1
  List of Products
%br
= link_to "Add New Product" ,new_product_path  
|
= link_to "Unborrowed Books" , unborrowed_path , method: "get"
%br
%br
%table
  %tr
    %th Title
    %th Description
    %th Author
    %th Publisher
    %th Price
    %th Purchased On
    %th Purchased At
    %th Borrowed
    %th Action
  - @products.each do |product|
    %tr 
      %td 
        = product.title
      %td
        = product.description
      %td
        = product.author
      %td
        = product.publisher
      %td
        = product.price
      %td
        = product.purchased_on
      %td
        = product.purchased_at
      %td
        = product.borrowed
      %td
        = link_to 'Show', product  
        = link_to 'Edit', edit_product_path(product) 

