%h1 Book Inventory
%h2
  =@products.title
%h4
  Php. 
  = @products.price
  %br
  by:
  = @products.author
Description:
%br
= @products.description
%br
Publisher:
%br
= @products.publisher
%br
Purchased On:
%br
= @products.purchased_on
%br
Purchased At:
%br
= @products.purchased_at
%br
Borrowed:
%br
= @products.borrowed
%br
= link_to "Edit Product", edit_product_path(params[:id])
= link_to "Back" ,products_path
