%p#notice= notice

%p
  %b Title:
  = @product.title
%p
  %b Description:
  = @product.description
%p
  %b Author:
  = @product.author
%p
  %b Publisher:
  = @product.publisher
%p
  %b Price:
  = @product.price
%p
  %b Purchased on:
  = @product.purchased_on
%p
  %b Purchased at:
  = @product.purchased_at
%p
  %b Borrowed:
  = @product.borrowed

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
